{% extends 'madlibs/base.html' %}
{% block 'body' %}
{% load static %}


  {% csrf_token %}
<script>

var longSonnet = {{ read }};

var utterance = new SpeechSynthesisUtterance(longSonnet);


function voiced(){
return speechSynthesis.getVoices();
}
let voices = voiced();



if (voices.length < 1){let voices = speechSynthesis.getVoices();}
if (voices.length < 1){let voices = speechSynthesis.getVoices();}
utterance.voice = voices[37];
if (voices.length>1){
utterance.rate = .78;
}else{
utterance.rate = .88;
utterance.pitch = 1.12}
let pause = false;

function say() {

if (pause == true) {
speechSynthesis.resume();


}

else{
speechSynthesis.speak(utterance);
}
}

function paused() {
pause = true;
speechSynthesis.pause()
}

function stop() {
speechSynthesis.cancel();
pause = false;
}

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>




<div class="content">
    <div id="marlib"><h6>{{ content }}</h6><br></div>
   <button type="button" class="original">
        Original sonnet:
       </button>
    <div class="innards">
       <h6> {{ duh }} </h6>
   </div>
    <div class="controls">
        <button onclick="say()" class="play">Read</button>
        <button onclick="paused()" class="pause"> PAUSE!</button>
        <button onclick="stop()" class="stop">STOP!</button>
    </div>
</div>


{% endblock %}