<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Bard with the Bard</title>
  </head>
  <body>
            <script>
            function check()
            {
                if (document.getElementById('id_random_1').checked) {
                    document.getElementById('hidden').style.display = 'block';
                } else {
                    document.getElementById('hidden').style.display= 'none';
                }
            }


             </script>
  <header>
    <nav>
        <div class="left desktop">
            <div class="location"><a href="{% url 'home' %}">Home</a></div>
            <div class="location"><a href="{% url 'play' %}"> Random Madlib</div>
        </div>
        <img class="shakes" src="{% static 'shakespeare2.png' %}">

        <div class="right desktop">
             <div class="location">Original Sonnets</div>
            <div class="location"><a href="http://www.instagram.com/sirpatstew" target="_blank">Sir Patrick Stewart</a></div>
        </div>
    </nav>
  </header>
    <div class="main">
        {% block 'body' %}

        {% endblock %}

    <footer id="footer">

            <a class="contact" href="mailto:adam.smolenski@gmail.com">Contact the Creator</a>
            <a class="about" href="{% url 'about' %}">About the Creator</a>

    </footer>
     </div>
  </body>


</html>
